<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rbox.xposed.firetvmods"
    android:versionCode="6"
    android:versionName="2.0-alpha">

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="85+"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Tweaks for Amazon Fire TV by rbox"/>
    </application>

</manifest>
